<p> <strong> Autores: </strong> Laura Planchuelo Acalá-Santaella y Guzmán Gómez Pérez </p>

<img "border-radius: 0 50% 0 50%;" src="/CARA.jpg" width="220" height="130">

<img "border-radius: 0 50% 0 50%;" src="/Gus.jpg" width="220" height="130">
